apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: devops-api
  labels:
    app: grafana
spec:
  type: NodePort
  selector:
    app: grafana
  ports:
  - protocol: TCP
    port: 3000
    targetPort: 3000
    nodePort: 30030
