apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: devops-api
  labels:
    app: prometheus
spec:
  type: NodePort
  selector:
    app: prometheus
  ports:
  - protocol: TCP
    port: 9090
    targetPort: 9090
    nodePort: 30090
